.container,.pfw .acc_rdn .con_pad,.wrapper,#wrapper{
width:980px;
}
header,section,.mg_lst,.nav_flevel li .megamenu .mg_lst_rgt li,.spn,.tab_cnt,footer,.ftr i,.breadc,.flud,.profile,.pro_btn,.hldr,.review,.rvw,.pr_hd,.aop_txt,.ftr_rst,.tab_content,.tab_content li,.mst_lft li,.mst_lft a,.futr,.sr_nam,.sr_rvw,.log_hd,.oview h1,.oview h2,.oview h3,.oview h4,.oview h5,.oview h6,.oview table,.mgt_lk,.pr_hd_rgt .vw,.s_btn .org_btn.full,#tickerTape{
width:100%;
}
/*sr page*/
.abt_slct.ttfs{
width:250px;
}
.scolp .slt_ctr{
width:200px;
}
.slt_ctr.lent{
width:350px;
}
.ctry .abt_slct{
width:332px;
}
.wreg{
width:300px;
}
.mbctl{
width:334px;
}
.ctry .mbctl,.egscr .mbctl{
width:330px;
}
.flr_pod{
width:980px;
}
.ft_tle{
width:960px;
}
.abt_me .fd_st{
width:315px;
}
.slt_ctr.lent{
width:395px;
}
.sty_pln input[type="text"]{
width:336px;
}
.flt_lbl,.slider label.flt_lbl{
width:171px;
}
.tltip_cnt{
width:170px;
}
.resr .pr_rslt{
width:316px;
}
.seo{
width:35%;
}
.seo:first-child{
width:30%;
}
.lbl_lft{
width:165px;
}
.lbl_rgt{
width:435px;
}
.mas_rdo span{
width:130px;
}
.frm_rgt{
width:300px;
}
.unil .flt_lbl{
width:120px;
}
/* CPE profile */
.pfw .pro_im{
padding-left:0;
width:494px;
}
.pfw .pl_cde{
width:480px;
}
.pfw .show .rgt_cnt.scol,.pfw .scol .show .rgt_cnt,.pfw .prv_adr{
width:100%;
}
.pfw .show .prf_lft .rgt_cnt{
width:520px;
}
.pfw .prf_rgt{
width:420px;
}
.pfw .key_lft{
width:49%;
}
.pfw .key_rgt{
width:48%;
}
.pfw .hldr.tab_ck{
width:560px;
}
.pfw .key_lft .cht_pt,.pfw .key_rgt .cht_pt{
width:390px;
}
.pfw .dnr_lft{
width:195px;
}
.pfw .dnr_lft.mr_0{
width:205px;
}
.pfw .lft_cnt{
width:225px;
}
.pfw .show .rgt_cnt{
width:710px;
}
.pfw .frs_lv .hldr.tab_ck,.pfw .brdbt .hldr.tab_ck{
display:block;
width:100%;
}
.pfw .pro_art .psd_txt{
width:321px;
}
.pfw .pro_art .nwgds_lft,.pfw .pro_art .nwgds_rgt{
width:50%;
}
.pfw .brdr_tp{
width:100%;
}
.pfw .hr_rat .str1{
width:20%;
}
.pfw .atby .lft_cnt{
width:85px;
}
.pfw.single .show .rgt_cnt{
width:100%;
}
.pfw.single .lft_cnt{
width:90%;
}
/* feb 03 release update */
.megamenu{
width:250px;
}
.lgd{
width:110px;
}
.mg_lst .org_btn{
width:178px;
}
.mil li{
width:55% !important;
}
.lgo{
width:240px;
}
.dsh,.dsh .ctry_res{
width:900px;
}
.lft_prt{
width:684px;
}
.rgt_prt{
width:280px;
}
.col1{
width:190px;
}
.col2{
width:207px;
}
.col3{
width:66%;
}
.col4{
width:138px;
}
.col6{
width:460px;
}
.dsh .funi4{width:auto;}
.dsh .funi5{width:22%;}
.dsh .funi1{width:31.5%;}
.dsh .funi2{width:30.8%;}
.dsh .funi6{width:25%;}
.dsh .funi7{width:50.3%;}
.dsh .funi7 .c_txt{width:100%;}
.nwnav{
width:200px;
}
.w980{
width:980px;
margin:0 auto;
}
.otsrch-bar{
width:280px;
}
.cbk{
width:100%;
}
.inr_pd{
width:240px;
}
/* download prospectus bottom overlay button pod start here */
.srx{
padding:10px 15px;
float:left;
width:100%;
z-index:90;
}
.srx .nht{
width:600px;
margin:0;
}
.srx .nht strong{
display:inline-block;
font-weight:normal;
margin-top:10px;
}
.srx .lnw{
float:right;
margin-left:10px;
padding:12px 10px;
width:200px;
background:#67B52C;
display:block;	
}
.srx .grn_btn{
width:250px;
}
/* download prospectus bottom overlay button pod end here */
.bsub{
border-bottom:1px solid #666;
color:#959595;
margin:0 20px 10px;
padding:10px 0 8px;
}
.mg_lst:last-child{
float:right;
}
/* agency student video provider fix */
.prm .pro_im{
float:left;
padding-left:0;
position:relative;
width:409px;
}
.pfw .pro_im{
padding-left:0;
width:494px !important;
}
/* bottom shortlist */
.bsht{
background:#fff;
padding:0;
left:5%;
bottom:0;
color:#fff;
position:fixed;
width:300px;
z-index:101;
}
.bsht .sht_cout{
border-radius:50%;
float:right;
margin-top:2px;
padding:3px;
position:inherit;
text-align:center;
width:20px;
}
.bsha{
display:block;
color:#fff;
background:#464646;
bottom:0;
float:left;
padding:3px 40px;
width:100%;
}
.bshb{
border:1px solid #959595;
padding:8px 10px;
position:relative;
color:#464646;
}
.bshc{
margin-bottom:5px;
padding:5px;
position:relative;
}
.bshc:hover{
background:#eee;
}
.bshc:last-child{
border:0;
margin-bottom:0;
}
.buni{
float:left;
width:60px;
}
.buni img{
width:100%;
}
.butl{
padding-left:70px;
width:95%;
}
.butl h2,.bshpa{
font-size:12px;
}
.butl .hd_vw,.rnk .rrib  img{
width:100%;
}
.butl .hd_vw.mt5 p{
font-size:10px;
margin:0;
}
.clz{
font-size:11px;
margin-top:-10px;
position:absolute;
right:0;
top:50%;
width:5%;
}
.bshd{
margin-bottom:10px;
}
.bshd li,.bshd li.bact{
float:left;
cursor:pointer;
color:#959595;
font-size:13px;
padding:10px 30px;
}
.bshd li.bact{
border-bottom:2px solid #d9971f;
color:#d9971f;
cursor:default;
}
.bshd li a:hover{
color:#666;
text-decoration:none;
}
.bshs{
float:left;
margin:2px 10px 0 0;
}
.bsbtn a{
display:block;
font-size:12px;
}
.bscomp a{
font-size:12px;
padding:8px 10px;
width:100%;
}
.butl .hd_vw.mt5 p i{
margin:-2px 0 0;
}
.bsval{
float:left;
margin:6px 0 0 80px;
}
.bscomp{
float:right;
width:50%;
}
/* bottom shortlist end */
/*info pod css*/
.icnt{
background:#DCECF0;
padding:40px 0;
margin-top:30px;
}
.hme .icnt{
margin-top:0;
}
/* .fa-globe:before{
content:'\f0ac';
} */
.fa-users:before{
content:'\f0c0';
}
.icntu{
text-align:center;
font-size:14px;
color:#3188a4;
width:950px;
margin:0 auto;
}
.icntu i,.icntu span{
display:block;
}
.icntu li{
float:left;
width:25%;
}
.icntu .fa.icru{
font-size:40px;
height:49px;
}
.icntu .fa.icruv{
font-size:40px;
height:49px;
}
.icntn{
font-size:40px;
}
.rnk .rrib{
height:auto;
width:60px;
}
/* RHS call back pod alignment */
.rgt_prt .inr_pd .selBx{
height:40px;
padding:10px 0;
}
.rgt_prt .inr_pd .selBx.err span.arw{
height:38px;
}
.profile .shr_tlp:before{
background:transparent;
}
/* compare page alignment fix */
.fpn{
bottom:40px !important;
}
.tbr{
position:relative;
}
.bmi{
background:#fff;
height:60px;
left:0;
position:absolute;
top:10px;
width:250px;
z-index:1;
}
.fund li:hover .tltip{
display:block;
}
.emfm .nwfd .tltip em{
margin-right:74px;
}
/* splash popup */
.spl{
border:0;
background:#2b2b2b;
transform:translate(-50%,0%);
margin:0;
position:fixed;
top:0!important;
height:100%;
width:100%;
z-index:16000010;
}
.msv h2{
background:#f8f8f8;
box-shadow:0 5px 20px #eee;
color:#666;
font-size:40px;
font-weight:normal;
padding:20px;
text-align:center;
}
.spl a .fa{
color:#999;
font-size:30px;
}
.msc{
padding:0 0 10px;
text-align:center;
font-size:30px;
}
.msd{
padding:10px 20px 0px;
text-align:center;
font-size:50px;
color:#fff;
}
.mse{
margin:10px auto 0px;
width:520px;
position:relative;
z-index:1;
}
.msi{
background:url("https://images1.content-hci.com/hca-cont/india/img/splsh/spemail.png") 25px 25px no-repeat #fff;
border-radius:15px;
box-shadow:0 0 10px #ccc inset;
color:#333;
font-size:18px !important;
margin-bottom:10px;
padding:28px 30px 28px 85px;
width:100%;
}
.alt{
background:#eee;
color:#f00;
margin:-25px 0 0 52px;
padding:6px 25px;
position:relative;
width:auto;
border-radius:5px;
font-size:13px;
}
.alt:before{
border-bottom:10px solid #eee;
border-left:10px solid transparent;
border-right:10px solid transparent;
content:"";
position:absolute;
top:-10px;
}
.msf{
background:#71b754 url("https://images2.content-hci.com/hca-cont/india/img/splsh/sparrw.png") 400px 25px no-repeat;
display:block;
padding:20px;
border-radius:15px;
color:#fff;
font-size:22px;
text-align:center;
box-shadow:0 5px 0 #559639;
transition:all 0.3s ease-in-out 0s;
cursor:pointer;
text-transform:uppercase;
width:100%;
}
.msf:hover{
background-position:410px 25px;
}
.mpdf{
text-align:center;
padding:100px 90px 0;
}
.mpdf img{
display:block;
margin:0 auto;
}
.spcls{
float:right;
padding:50px;
}
.spcls img{
transition:all 0.3s ease-in-out 0s;
}
.spcls img:hover{
background:#736E50;
padding:10px;
border-radius:50px;
}
.mbtm{
width:100%;
position:absolute;
bottom:0;
opacity:1;
}
.spbrd{
background:url("https://images3.content-hci.com/hca-cont/india/img/splsh/sptorn_2.png") 0 0 repeat-x;
width:100%;
height:24px;
}
.mssc{
background:#484848;
width:100%;
text-align:center;
}
.spfre{
position:absolute;
width:158px;
height:45px;
bottom:80px;
left:50%;
transform:translate(-50%, 0);
}
.autocomplete.splsh{
top:70px;
height:auto;
}
.splsh .optionDiv{
padding-left:84px;
}
/* (1366x768) WXGA Display */
@media  screen and (min-width:1366px){
.spcls{
padding:20px;
}
.mpdf{
padding:60px 90px 0;
}
.mssc img{
width:500px;
height:auto;
}
.spfre{
bottom:50px;
}
.msd{
font-size:40px;
}
.msc{
font-size:20px;
}
.msi{
background-position:15px 15px;
border-radius:10px;
font-size:16px !important;
padding:20px 20px 20px 75px;
}
.msf{
background-position:400px 16px;
font-size:20px;
padding:15px 20px;
border-radius:10px;
}
.msf:hover{
background-position:410px 20px;
}
}
/* (1024x768) WXGA Display */
@media only screen and (min-width:1024px){
/* .spcls{
padding:20px;
}
.mpdf{
padding:20px 90px 0;
}
.mssc img{
width:500px;
height:auto;
}
.spfre{
bottom:50px;
} */
}
/* splash end */

/* iPad in landscape fix start*/
@media only screen and (min-width :768px) and (max-width :1024px) and (orientation :landscape){
.tbr{
padding-left:160px;
}
.tbr li{
padding-top:0;
}
.srvbr .lgo{
width:160px !important;
}
.srvbr .lgo img{
height:auto;
width:100%;
}
.tbr li:first-child{
font-size:13px;
margin-right:5px;
padding-top:0;
width:130px;
}
.tbr li{
margin-left:0;
}
.tbr .fa-file-text:before,.tbr .fa-university:before{
font-size:20px;
}
.tbr .fa-book:before,.tbr .fa-info-circle:before{
font-size:21px;
}
.tbr .fa-plane:before{
font-size:22px;
}
.tbr li.tbrtoll{
padding:0 0 10px;
float:right;
width:150px;
}
.tbr li a.grn_btn{
padding:10px 15px;
}
.tbrC{
width:136px;
}
.tbrI{
width:120px;
}
.tbrApp{
width:101px;
}
.tbrSop{
width:96px;
}
.tbrV{
width:83px;
}
.tbrV span{
width:55px;
}
/* top search 1024 */
.mb_sch{
width:300px;
}
.mb_sch .nsa{
width:220px;
margin:0 0 0 10px;
}
.megamenu{
top:81px;
}
.nav_flevel li .lnk{
padding:32px 8px 31px;
font-size:13px;
}
.nav_flevel li:hover .lnk,.mdpn.cover a,.laf span.cover a{
padding-top:27px;
}
li.cover .megamenu.thd,.megamenu.thd{
width:560px;
}
.megamenu.thd .mg_lst{
width:100%;
}
}
/* iPad in landscape fix end*/