.flag-icon-16 { display:block; background-image: url(/sprites/img/flag-icon-16_sprites.png); text-align:center; }
.flag-icon-16.ad { width: 16px; height: 16px; background-position: -2px -2px; }
.flag-icon-16.ae { width: 16px; height: 16px; background-position: -2px -22px; }
.flag-icon-16.af { width: 16px; height: 16px; background-position: -2px -42px; }
.flag-icon-16.ag { width: 16px; height: 16px; background-position: -2px -62px; }
.flag-icon-16.am { width: 16px; height: 16px; background-position: -2px -82px; }
.flag-icon-16.al { width: 16px; height: 16px; background-position: -2px -102px; }
.flag-icon-16.ao { width: 16px; height: 16px; background-position: -2px -122px; }
.flag-icon-16.ar { width: 16px; height: 16px; background-position: -2px -142px; }
.flag-icon-16.as { width: 16px; height: 16px; background-position: -2px -162px; }
.flag-icon-16.at { width: 16px; height: 16px; background-position: -2px -182px; }
.flag-icon-16.aw { width: 16px; height: 16px; background-position: -2px -202px; }
.flag-icon-16.au { width: 16px; height: 16px; background-position: -2px -222px; }
.flag-icon-16.az { width: 16px; height: 16px; background-position: -2px -242px; }
.flag-icon-16.ax { width: 16px; height: 16px; background-position: -2px -262px; }
.flag-icon-16.ba { width: 16px; height: 16px; background-position: -2px -282px; }
.flag-icon-16.bb { width: 16px; height: 16px; background-position: -2px -302px; }
.flag-icon-16.bd { width: 16px; height: 16px; background-position: -2px -322px; }
.flag-icon-16.be { width: 16px; height: 16px; background-position: -2px -342px; }
.flag-icon-16.bf { width: 16px; height: 16px; background-position: -2px -362px; }
.flag-icon-16.bg { width: 16px; height: 16px; background-position: -2px -382px; }
.flag-icon-16.bi { width: 16px; height: 16px; background-position: -2px -402px; }
.flag-icon-16.bh { width: 16px; height: 16px; background-position: -2px -422px; }
.flag-icon-16.bm { width: 16px; height: 16px; background-position: -2px -442px; }
.flag-icon-16.bj { width: 16px; height: 16px; background-position: -2px -462px; }
.flag-icon-16.bn { width: 16px; height: 16px; background-position: -2px -482px; }
.flag-icon-16.bo { width: 16px; height: 16px; background-position: -2px -502px; }
.flag-icon-16.br { width: 16px; height: 16px; background-position: -2px -522px; }
.flag-icon-16.bs { width: 16px; height: 16px; background-position: -2px -542px; }
.flag-icon-16.bt { width: 16px; height: 16px; background-position: -2px -562px; }
.flag-icon-16.bw { width: 16px; height: 16px; background-position: -2px -582px; }
.flag-icon-16.bz { width: 16px; height: 16px; background-position: -2px -602px; }
.flag-icon-16.by { width: 16px; height: 16px; background-position: -2px -622px; }
.flag-icon-16.ca { width: 16px; height: 16px; background-position: -2px -642px; }
.flag-icon-16.cd { width: 16px; height: 16px; background-position: -2px -662px; }
.flag-icon-16.cf { width: 16px; height: 16px; background-position: -2px -682px; }
.flag-icon-16.cg { width: 16px; height: 16px; background-position: -2px -702px; }
.flag-icon-16.ch { width: 16px; height: 16px; background-position: -2px -722px; }
.flag-icon-16.ci { width: 16px; height: 16px; background-position: -2px -742px; }
.flag-icon-16.cl { width: 16px; height: 16px; background-position: -2px -762px; }
.flag-icon-16.ck { width: 16px; height: 16px; background-position: -2px -782px; }
.flag-icon-16.cm { width: 16px; height: 16px; background-position: -2px -802px; }
.flag-icon-16.cn { width: 16px; height: 16px; background-position: -2px -822px; }
.flag-icon-16.co { width: 16px; height: 16px; background-position: -2px -842px; }
.flag-icon-16.cr { width: 16px; height: 16px; background-position: -2px -862px; }
.flag-icon-16.cu { width: 16px; height: 16px; background-position: -2px -882px; }
.flag-icon-16.cv { width: 16px; height: 16px; background-position: -2px -902px; }
.flag-icon-16.cy { width: 16px; height: 16px; background-position: -2px -922px; }
.flag-icon-16.cz { width: 16px; height: 16px; background-position: -2px -942px; }
.flag-icon-16.dj { width: 16px; height: 16px; background-position: -2px -962px; }
.flag-icon-16.de { width: 16px; height: 16px; background-position: -2px -982px; }
.flag-icon-16.dm { width: 16px; height: 16px; background-position: -2px -1002px; }
.flag-icon-16.dk { width: 16px; height: 16px; background-position: -2px -1022px; }
.flag-icon-16.dz { width: 16px; height: 16px; background-position: -2px -1042px; }
.flag-icon-16.do { width: 16px; height: 16px; background-position: -2px -1062px; }
.flag-icon-16.ee { width: 16px; height: 16px; background-position: -2px -1082px; }
.flag-icon-16.ec { width: 16px; height: 16px; background-position: -2px -1102px; }
.flag-icon-16.eh { width: 16px; height: 16px; background-position: -2px -1122px; }
.flag-icon-16.eg { width: 16px; height: 16px; background-position: -2px -1142px; }
.flag-icon-16.er { width: 16px; height: 16px; background-position: -2px -1162px; }
.flag-icon-16.es { width: 16px; height: 16px; background-position: -2px -1182px; }
.flag-icon-16.et { width: 16px; height: 16px; background-position: -2px -1202px; }
.flag-icon-16.fi { width: 16px; height: 16px; background-position: -2px -1222px; }
.flag-icon-16.fm { width: 16px; height: 16px; background-position: -2px -1242px; }
.flag-icon-16.fj { width: 16px; height: 16px; background-position: -2px -1262px; }
.flag-icon-16.ga { width: 16px; height: 16px; background-position: -2px -1282px; }
.flag-icon-16.fr { width: 16px; height: 16px; background-position: -2px -1302px; }
.flag-icon-16.gd { width: 16px; height: 16px; background-position: -2px -1322px; }
.flag-icon-16.gb { width: 16px; height: 16px; background-position: -2px -1342px; }
.flag-icon-16.ge { width: 16px; height: 16px; background-position: -2px -1362px; }
.flag-icon-16.gf { width: 16px; height: 16px; background-position: -2px -1382px; }
.flag-icon-16.gh { width: 16px; height: 16px; background-position: -2px -1402px; }
.flag-icon-16.gi { width: 16px; height: 16px; background-position: -2px -1422px; }
.flag-icon-16.gm { width: 16px; height: 16px; background-position: -2px -1442px; }
.flag-icon-16.gn { width: 16px; height: 16px; background-position: -2px -1462px; }
.flag-icon-16.gq { width: 16px; height: 16px; background-position: -2px -1482px; }
.flag-icon-16.gp { width: 16px; height: 16px; background-position: -2px -1502px; }
.flag-icon-16.gr { width: 16px; height: 16px; background-position: -2px -1522px; }
.flag-icon-16.gt { width: 16px; height: 16px; background-position: -2px -1542px; }
.flag-icon-16.gw { width: 16px; height: 16px; background-position: -2px -1562px; }
.flag-icon-16.gu { width: 16px; height: 16px; background-position: -2px -1582px; }
.flag-icon-16.gy { width: 16px; height: 16px; background-position: -2px -1602px; }
.flag-icon-16.hk { width: 16px; height: 16px; background-position: -2px -1622px; }
.flag-icon-16.hr { width: 16px; height: 16px; background-position: -2px -1642px; }
.flag-icon-16.hn { width: 16px; height: 16px; background-position: -2px -1662px; }
.flag-icon-16.ht { width: 16px; height: 16px; background-position: -2px -1682px; }
.flag-icon-16.hu { width: 16px; height: 16px; background-position: -2px -1702px; }
.flag-icon-16.ie { width: 16px; height: 16px; background-position: -2px -1722px; }
.flag-icon-16.id { width: 16px; height: 16px; background-position: -2px -1742px; }
.flag-icon-16.in { width: 16px; height: 16px; background-position: -2px -1762px; }
.flag-icon-16.il { width: 16px; height: 16px; background-position: -2px -1782px; }
.flag-icon-16.ir { width: 16px; height: 16px; background-position: -2px -1802px; }
.flag-icon-16.iq { width: 16px; height: 16px; background-position: -2px -1822px; }
.flag-icon-16.it { width: 16px; height: 16px; background-position: -2px -1842px; }
.flag-icon-16.is { width: 16px; height: 16px; background-position: -2px -1862px; }
.flag-icon-16.jm { width: 16px; height: 16px; background-position: -2px -1882px; }
.flag-icon-16.je { width: 16px; height: 16px; background-position: -2px -1902px; }
.flag-icon-16.jo { width: 16px; height: 16px; background-position: -2px -1922px; }
.flag-icon-16.jp { width: 16px; height: 16px; background-position: -2px -1942px; }
.flag-icon-16.kg { width: 16px; height: 16px; background-position: -2px -1962px; }
.flag-icon-16.ke { width: 16px; height: 16px; background-position: -2px -1982px; }
.flag-icon-16.ki { width: 16px; height: 16px; background-position: -2px -2002px; }
.flag-icon-16.kh { width: 16px; height: 16px; background-position: -2px -2022px; }
.flag-icon-16.kn { width: 16px; height: 16px; background-position: -2px -2042px; }
.flag-icon-16.km { width: 16px; height: 16px; background-position: -2px -2062px; }
.flag-icon-16.ko { width: 16px; height: 16px; background-position: -2px -2082px; }
.flag-icon-16.kp { width: 16px; height: 16px; background-position: -2px -2102px; }
.flag-icon-16.kr { width: 16px; height: 16px; background-position: -2px -2122px; }
.flag-icon-16.kw { width: 16px; height: 16px; background-position: -2px -2142px; }
.flag-icon-16.ky { width: 16px; height: 16px; background-position: -2px -2162px; }
.flag-icon-16.kz { width: 16px; height: 16px; background-position: -2px -2182px; }
.flag-icon-16.la { width: 16px; height: 16px; background-position: -2px -2202px; }
.flag-icon-16.lb { width: 16px; height: 16px; background-position: -2px -2222px; }
.flag-icon-16.li { width: 16px; height: 16px; background-position: -2px -2242px; }
.flag-icon-16.lc { width: 16px; height: 16px; background-position: -2px -2262px; }
.flag-icon-16.lr { width: 16px; height: 16px; background-position: -2px -2282px; }
.flag-icon-16.lk { width: 16px; height: 16px; background-position: -2px -2302px; }
.flag-icon-16.ls { width: 16px; height: 16px; background-position: -2px -2322px; }
.flag-icon-16.lt { width: 16px; height: 16px; background-position: -2px -2342px; }
.flag-icon-16.lu { width: 16px; height: 16px; background-position: -2px -2362px; }
.flag-icon-16.lv { width: 16px; height: 16px; background-position: -2px -2382px; }
.flag-icon-16.ly { width: 16px; height: 16px; background-position: -2px -2402px; }
.flag-icon-16.ma { width: 16px; height: 16px; background-position: -2px -2422px; }
.flag-icon-16.md { width: 16px; height: 16px; background-position: -2px -2442px; }
.flag-icon-16.mc { width: 16px; height: 16px; background-position: -2px -2462px; }
.flag-icon-16.mg { width: 16px; height: 16px; background-position: -2px -2482px; }
.flag-icon-16.me { width: 16px; height: 16px; background-position: -2px -2502px; }
.flag-icon-16.mh { width: 16px; height: 16px; background-position: -2px -2522px; }
.flag-icon-16.mk { width: 16px; height: 16px; background-position: -2px -2542px; }
.flag-icon-16.ml { width: 16px; height: 16px; background-position: -2px -2562px; }
.flag-icon-16.mm { width: 16px; height: 16px; background-position: -2px -2582px; }
.flag-icon-16.mn { width: 16px; height: 16px; background-position: -2px -2602px; }
.flag-icon-16.mo { width: 16px; height: 16px; background-position: -2px -2622px; }
.flag-icon-16.mq { width: 16px; height: 16px; background-position: -2px -2642px; }
.flag-icon-16.mp { width: 16px; height: 16px; background-position: -2px -2662px; }
.flag-icon-16.mr { width: 16px; height: 16px; background-position: -2px -2682px; }
.flag-icon-16.mt { width: 16px; height: 16px; background-position: -2px -2702px; }
.flag-icon-16.mv { width: 16px; height: 16px; background-position: -2px -2722px; }
.flag-icon-16.mu { width: 16px; height: 16px; background-position: -2px -2742px; }
.flag-icon-16.mw { width: 16px; height: 16px; background-position: -2px -2762px; }
.flag-icon-16.mx { width: 16px; height: 16px; background-position: -2px -2782px; }
.flag-icon-16.my { width: 16px; height: 16px; background-position: -2px -2802px; }
.flag-icon-16.mz { width: 16px; height: 16px; background-position: -2px -2822px; }
.flag-icon-16.na { width: 16px; height: 16px; background-position: -2px -2842px; }
.flag-icon-16.nc { width: 16px; height: 16px; background-position: -2px -2862px; }
.flag-icon-16.ne { width: 16px; height: 16px; background-position: -2px -2882px; }
.flag-icon-16.ng { width: 16px; height: 16px; background-position: -2px -2902px; }
.flag-icon-16.nl { width: 16px; height: 16px; background-position: -2px -2922px; }
.flag-icon-16.ni { width: 16px; height: 16px; background-position: -2px -2942px; }
.flag-icon-16.no { width: 16px; height: 16px; background-position: -2px -2962px; }
.flag-icon-16.np { width: 16px; height: 16px; background-position: -2px -2982px; }
.flag-icon-16.nu { width: 16px; height: 16px; background-position: -2px -3002px; }
.flag-icon-16.nr { width: 16px; height: 16px; background-position: -2px -3022px; }
.flag-icon-16.nz { width: 16px; height: 16px; background-position: -2px -3042px; }
.flag-icon-16.om { width: 16px; height: 16px; background-position: -2px -3062px; }
.flag-icon-16.pa { width: 16px; height: 16px; background-position: -2px -3082px; }
.flag-icon-16.pe { width: 16px; height: 16px; background-position: -2px -3102px; }
.flag-icon-16.pf { width: 16px; height: 16px; background-position: -2px -3122px; }
.flag-icon-16.pg { width: 16px; height: 16px; background-position: -2px -3142px; }
.flag-icon-16.ph { width: 16px; height: 16px; background-position: -2px -3162px; }
.flag-icon-16.pk { width: 16px; height: 16px; background-position: -2px -3182px; }
.flag-icon-16.pl { width: 16px; height: 16px; background-position: -2px -3202px; }
.flag-icon-16.pn { width: 16px; height: 16px; background-position: -2px -3222px; }
.flag-icon-16.pr { width: 16px; height: 16px; background-position: -2px -3242px; }
.flag-icon-16.ps { width: 16px; height: 16px; background-position: -2px -3262px; }
.flag-icon-16.pt { width: 16px; height: 16px; background-position: -2px -3282px; }
.flag-icon-16.pw { width: 16px; height: 16px; background-position: -2px -3302px; }
.flag-icon-16.qa { width: 16px; height: 16px; background-position: -2px -3322px; }
.flag-icon-16.py { width: 16px; height: 16px; background-position: -2px -3342px; }
.flag-icon-16.re { width: 16px; height: 16px; background-position: -2px -3362px; }
.flag-icon-16.ro { width: 16px; height: 16px; background-position: -2px -3382px; }
.flag-icon-16.rs { width: 16px; height: 16px; background-position: -2px -3402px; }
.flag-icon-16.ru { width: 16px; height: 16px; background-position: -2px -3422px; }
.flag-icon-16.sa { width: 16px; height: 16px; background-position: -2px -3442px; }
.flag-icon-16.rw { width: 16px; height: 16px; background-position: -2px -3462px; }
.flag-icon-16.sc { width: 16px; height: 16px; background-position: -2px -3482px; }
.flag-icon-16.sb { width: 16px; height: 16px; background-position: -2px -3502px; }
.flag-icon-16.sd { width: 16px; height: 16px; background-position: -2px -3522px; }
.flag-icon-16.se { width: 16px; height: 16px; background-position: -2px -3542px; }
.flag-icon-16.sg { width: 16px; height: 16px; background-position: -2px -3562px; }
.flag-icon-16.si { width: 16px; height: 16px; background-position: -2px -3582px; }
.flag-icon-16.sl { width: 16px; height: 16px; background-position: -2px -3602px; }
.flag-icon-16.sk { width: 16px; height: 16px; background-position: -2px -3622px; }
.flag-icon-16.sm { width: 16px; height: 16px; background-position: -2px -3642px; }
.flag-icon-16.sn { width: 16px; height: 16px; background-position: -2px -3662px; }
.flag-icon-16.so { width: 16px; height: 16px; background-position: -2px -3682px; }
.flag-icon-16.sr { width: 16px; height: 16px; background-position: -2px -3702px; }
.flag-icon-16.ss { width: 16px; height: 16px; background-position: -2px -3722px; }
.flag-icon-16.st { width: 16px; height: 16px; background-position: -2px -3742px; }
.flag-icon-16.sy { width: 16px; height: 16px; background-position: -2px -3762px; }
.flag-icon-16.sv { width: 16px; height: 16px; background-position: -2px -3782px; }
.flag-icon-16.sz { width: 16px; height: 16px; background-position: -2px -3802px; }
.flag-icon-16.td { width: 16px; height: 16px; background-position: -2px -3822px; }
.flag-icon-16.tg { width: 16px; height: 16px; background-position: -2px -3842px; }
.flag-icon-16.th { width: 16px; height: 16px; background-position: -2px -3862px; }
.flag-icon-16.tj { width: 16px; height: 16px; background-position: -2px -3882px; }
.flag-icon-16.tl { width: 16px; height: 16px; background-position: -2px -3902px; }
.flag-icon-16.tn { width: 16px; height: 16px; background-position: -2px -3922px; }
.flag-icon-16.tm { width: 16px; height: 16px; background-position: -2px -3942px; }
.flag-icon-16.tr { width: 16px; height: 16px; background-position: -2px -3962px; }
.flag-icon-16.to { width: 16px; height: 16px; background-position: -2px -3982px; }
.flag-icon-16.tt { width: 16px; height: 16px; background-position: -2px -4002px; }
.flag-icon-16.tv { width: 16px; height: 16px; background-position: -2px -4022px; }
.flag-icon-16.tz { width: 16px; height: 16px; background-position: -2px -4042px; }
.flag-icon-16.tw { width: 16px; height: 16px; background-position: -2px -4062px; }
.flag-icon-16.ua { width: 16px; height: 16px; background-position: -2px -4082px; }
.flag-icon-16.ug { width: 16px; height: 16px; background-position: -2px -4102px; }
.flag-icon-16.uy { width: 16px; height: 16px; background-position: -2px -4122px; }
.flag-icon-16.us { width: 16px; height: 16px; background-position: -2px -4142px; }
.flag-icon-16.va { width: 16px; height: 16px; background-position: -2px -4162px; }
.flag-icon-16.uz { width: 16px; height: 16px; background-position: -2px -4182px; }
.flag-icon-16.ve { width: 16px; height: 16px; background-position: -2px -4202px; }
.flag-icon-16.vc { width: 16px; height: 16px; background-position: -2px -4222px; }
.flag-icon-16.vi { width: 16px; height: 16px; background-position: -2px -4242px; }
.flag-icon-16.vg { width: 16px; height: 16px; background-position: -2px -4262px; }
.flag-icon-16.vn { width: 16px; height: 16px; background-position: -2px -4282px; }
.flag-icon-16.vu { width: 16px; height: 16px; background-position: -2px -4302px; }
.flag-icon-16.ws { width: 16px; height: 16px; background-position: -2px -4322px; }
.flag-icon-16.ye { width: 16px; height: 16px; background-position: -2px -4342px; }
.flag-icon-16.za { width: 16px; height: 16px; background-position: -2px -4362px; }
.flag-icon-16.zm { width: 16px; height: 16px; background-position: -2px -4382px; }
.flag-icon-16.zw { width: 16px; height: 16px; background-position: -2px -4402px; }
.flag-icon-16.tc { width: 16px; height: 16px; background-position: -2px -4422px; }
.flag-icon-16.cw { width: 16px; height: 16px; background-position: -2px -4442px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {.flag-icon-16 { background-image: url(/sprites/img/flag-icon-16_sprites@2x.png); background-size: 20px 4460px;  } }
.flag-icon-32 { display:block; background-image: url(/sprites/img/flag-icon-32_sprites.png); text-align:center; }
.flag-icon-32.ad { width: 32px; height: 32px; background-position: -2px -2px; }
.flag-icon-32.ae { width: 32px; height: 32px; background-position: -2px -38px; }
.flag-icon-32.af { width: 32px; height: 32px; background-position: -2px -74px; }
.flag-icon-32.ag { width: 32px; height: 32px; background-position: -2px -110px; }
.flag-icon-32.al { width: 32px; height: 32px; background-position: -2px -146px; }
.flag-icon-32.am { width: 32px; height: 32px; background-position: -2px -182px; }
.flag-icon-32.ao { width: 32px; height: 32px; background-position: -2px -218px; }
.flag-icon-32.ar { width: 32px; height: 32px; background-position: -2px -254px; }
.flag-icon-32.as { width: 32px; height: 32px; background-position: -2px -290px; }
.flag-icon-32.at { width: 32px; height: 32px; background-position: -2px -326px; }
.flag-icon-32.au { width: 32px; height: 32px; background-position: -2px -362px; }
.flag-icon-32.aw { width: 32px; height: 32px; background-position: -2px -398px; }
.flag-icon-32.ax { width: 32px; height: 32px; background-position: -2px -434px; }
.flag-icon-32.az { width: 32px; height: 32px; background-position: -2px -470px; }
.flag-icon-32.ba { width: 32px; height: 32px; background-position: -2px -506px; }
.flag-icon-32.bb { width: 32px; height: 32px; background-position: -2px -542px; }
.flag-icon-32.bd { width: 32px; height: 32px; background-position: -2px -578px; }
.flag-icon-32.be { width: 32px; height: 32px; background-position: -2px -614px; }
.flag-icon-32.bf { width: 32px; height: 32px; background-position: -2px -650px; }
.flag-icon-32.bg { width: 32px; height: 32px; background-position: -2px -686px; }
.flag-icon-32.bh { width: 32px; height: 32px; background-position: -2px -722px; }
.flag-icon-32.bi { width: 32px; height: 32px; background-position: -2px -758px; }
.flag-icon-32.bj { width: 32px; height: 32px; background-position: -2px -794px; }
.flag-icon-32.bm { width: 32px; height: 32px; background-position: -2px -830px; }
.flag-icon-32.bn { width: 32px; height: 32px; background-position: -2px -866px; }
.flag-icon-32.bo { width: 32px; height: 32px; background-position: -2px -902px; }
.flag-icon-32.br { width: 32px; height: 32px; background-position: -2px -938px; }
.flag-icon-32.bs { width: 32px; height: 32px; background-position: -2px -974px; }
.flag-icon-32.bt { width: 32px; height: 32px; background-position: -2px -1010px; }
.flag-icon-32.bw { width: 32px; height: 32px; background-position: -2px -1046px; }
.flag-icon-32.by { width: 32px; height: 32px; background-position: -2px -1082px; }
.flag-icon-32.bz { width: 32px; height: 32px; background-position: -2px -1118px; }
.flag-icon-32.ca { width: 32px; height: 32px; background-position: -2px -1154px; }
.flag-icon-32.cd { width: 32px; height: 32px; background-position: -2px -1190px; }
.flag-icon-32.cf { width: 32px; height: 32px; background-position: -2px -1226px; }
.flag-icon-32.cg { width: 32px; height: 32px; background-position: -2px -1262px; }
.flag-icon-32.ch { width: 32px; height: 32px; background-position: -2px -1298px; }
.flag-icon-32.ci { width: 32px; height: 32px; background-position: -2px -1334px; }
.flag-icon-32.ck { width: 32px; height: 32px; background-position: -2px -1370px; }
.flag-icon-32.cl { width: 32px; height: 32px; background-position: -2px -1406px; }
.flag-icon-32.cm { width: 32px; height: 32px; background-position: -2px -1442px; }
.flag-icon-32.cn { width: 32px; height: 32px; background-position: -2px -1478px; }
.flag-icon-32.co { width: 32px; height: 32px; background-position: -2px -1514px; }
.flag-icon-32.cr { width: 32px; height: 32px; background-position: -2px -1550px; }
.flag-icon-32.cu { width: 32px; height: 32px; background-position: -2px -1586px; }
.flag-icon-32.cv { width: 32px; height: 32px; background-position: -2px -1622px; }
.flag-icon-32.cy { width: 32px; height: 32px; background-position: -2px -1658px; }
.flag-icon-32.cz { width: 32px; height: 32px; background-position: -2px -1694px; }
.flag-icon-32.de { width: 32px; height: 32px; background-position: -2px -1730px; }
.flag-icon-32.dj { width: 32px; height: 32px; background-position: -2px -1766px; }
.flag-icon-32.dk { width: 32px; height: 32px; background-position: -2px -1802px; }
.flag-icon-32.dm { width: 32px; height: 32px; background-position: -2px -1838px; }
.flag-icon-32.do { width: 32px; height: 32px; background-position: -2px -1874px; }
.flag-icon-32.dz { width: 32px; height: 32px; background-position: -2px -1910px; }
.flag-icon-32.ec { width: 32px; height: 32px; background-position: -2px -1946px; }
.flag-icon-32.ee { width: 32px; height: 32px; background-position: -2px -1982px; }
.flag-icon-32.eg { width: 32px; height: 32px; background-position: -2px -2018px; }
.flag-icon-32.eh { width: 32px; height: 32px; background-position: -2px -2054px; }
.flag-icon-32.es { width: 32px; height: 32px; background-position: -2px -2090px; }
.flag-icon-32.er { width: 32px; height: 32px; background-position: -2px -2126px; }
.flag-icon-32.et { width: 32px; height: 32px; background-position: -2px -2162px; }
.flag-icon-32.fi { width: 32px; height: 32px; background-position: -2px -2198px; }
.flag-icon-32.fj { width: 32px; height: 32px; background-position: -2px -2234px; }
.flag-icon-32.fm { width: 32px; height: 32px; background-position: -2px -2270px; }
.flag-icon-32.fr { width: 32px; height: 32px; background-position: -2px -2306px; }
.flag-icon-32.ga { width: 32px; height: 32px; background-position: -2px -2342px; }
.flag-icon-32.gb { width: 32px; height: 32px; background-position: -2px -2378px; }
.flag-icon-32.gd { width: 32px; height: 32px; background-position: -2px -2414px; }
.flag-icon-32.ge { width: 32px; height: 32px; background-position: -2px -2450px; }
.flag-icon-32.gf { width: 32px; height: 32px; background-position: -2px -2486px; }
.flag-icon-32.gh { width: 32px; height: 32px; background-position: -2px -2522px; }
.flag-icon-32.gi { width: 32px; height: 32px; background-position: -2px -2558px; }
.flag-icon-32.gm { width: 32px; height: 32px; background-position: -2px -2594px; }
.flag-icon-32.gn { width: 32px; height: 32px; background-position: -2px -2630px; }
.flag-icon-32.gp { width: 32px; height: 32px; background-position: -2px -2666px; }
.flag-icon-32.gq { width: 32px; height: 32px; background-position: -2px -2702px; }
.flag-icon-32.gr { width: 32px; height: 32px; background-position: -2px -2738px; }
.flag-icon-32.gt { width: 32px; height: 32px; background-position: -2px -2774px; }
.flag-icon-32.gu { width: 32px; height: 32px; background-position: -2px -2810px; }
.flag-icon-32.gw { width: 32px; height: 32px; background-position: -2px -2846px; }
.flag-icon-32.gy { width: 32px; height: 32px; background-position: -2px -2882px; }
.flag-icon-32.hk { width: 32px; height: 32px; background-position: -2px -2918px; }
.flag-icon-32.hr { width: 32px; height: 32px; background-position: -2px -2954px; }
.flag-icon-32.hn { width: 32px; height: 32px; background-position: -2px -2990px; }
.flag-icon-32.ht { width: 32px; height: 32px; background-position: -2px -3026px; }
.flag-icon-32.hu { width: 32px; height: 32px; background-position: -2px -3062px; }
.flag-icon-32.id { width: 32px; height: 32px; background-position: -2px -3098px; }
.flag-icon-32.ie { width: 32px; height: 32px; background-position: -2px -3134px; }
.flag-icon-32.il { width: 32px; height: 32px; background-position: -2px -3170px; }
.flag-icon-32.in { width: 32px; height: 32px; background-position: -2px -3206px; }
.flag-icon-32.iq { width: 32px; height: 32px; background-position: -2px -3242px; }
.flag-icon-32.ir { width: 32px; height: 32px; background-position: -2px -3278px; }
.flag-icon-32.is { width: 32px; height: 32px; background-position: -2px -3314px; }
.flag-icon-32.it { width: 32px; height: 32px; background-position: -2px -3350px; }
.flag-icon-32.je { width: 32px; height: 32px; background-position: -2px -3386px; }
.flag-icon-32.jm { width: 32px; height: 32px; background-position: -2px -3422px; }
.flag-icon-32.jo { width: 32px; height: 32px; background-position: -2px -3458px; }
.flag-icon-32.jp { width: 32px; height: 32px; background-position: -2px -3494px; }
.flag-icon-32.ke { width: 32px; height: 32px; background-position: -2px -3530px; }
.flag-icon-32.kg { width: 32px; height: 32px; background-position: -2px -3566px; }
.flag-icon-32.kh { width: 32px; height: 32px; background-position: -2px -3602px; }
.flag-icon-32.ki { width: 32px; height: 32px; background-position: -2px -3638px; }
.flag-icon-32.km { width: 32px; height: 32px; background-position: -2px -3674px; }
.flag-icon-32.kn { width: 32px; height: 32px; background-position: -2px -3710px; }
.flag-icon-32.ko { width: 32px; height: 32px; background-position: -2px -3746px; }
.flag-icon-32.kp { width: 32px; height: 32px; background-position: -2px -3782px; }
.flag-icon-32.kr { width: 32px; height: 32px; background-position: -2px -3818px; }
.flag-icon-32.kw { width: 32px; height: 32px; background-position: -2px -3854px; }
.flag-icon-32.ky { width: 32px; height: 32px; background-position: -2px -3890px; }
.flag-icon-32.kz { width: 32px; height: 32px; background-position: -2px -3926px; }
.flag-icon-32.la { width: 32px; height: 32px; background-position: -2px -3962px; }
.flag-icon-32.lb { width: 32px; height: 32px; background-position: -2px -3998px; }
.flag-icon-32.lc { width: 32px; height: 32px; background-position: -2px -4034px; }
.flag-icon-32.li { width: 32px; height: 32px; background-position: -2px -4070px; }
.flag-icon-32.lk { width: 32px; height: 32px; background-position: -2px -4106px; }
.flag-icon-32.lr { width: 32px; height: 32px; background-position: -2px -4142px; }
.flag-icon-32.ls { width: 32px; height: 32px; background-position: -2px -4178px; }
.flag-icon-32.lt { width: 32px; height: 32px; background-position: -2px -4214px; }
.flag-icon-32.lu { width: 32px; height: 32px; background-position: -2px -4250px; }
.flag-icon-32.lv { width: 32px; height: 32px; background-position: -2px -4286px; }
.flag-icon-32.ly { width: 32px; height: 32px; background-position: -2px -4322px; }
.flag-icon-32.mc { width: 32px; height: 32px; background-position: -2px -4358px; }
.flag-icon-32.ma { width: 32px; height: 32px; background-position: -2px -4394px; }
.flag-icon-32.md { width: 32px; height: 32px; background-position: -2px -4430px; }
.flag-icon-32.me { width: 32px; height: 32px; background-position: -2px -4466px; }
.flag-icon-32.mg { width: 32px; height: 32px; background-position: -2px -4502px; }
.flag-icon-32.mh { width: 32px; height: 32px; background-position: -2px -4538px; }
.flag-icon-32.mk { width: 32px; height: 32px; background-position: -2px -4574px; }
.flag-icon-32.ml { width: 32px; height: 32px; background-position: -2px -4610px; }
.flag-icon-32.mm { width: 32px; height: 32px; background-position: -2px -4646px; }
.flag-icon-32.mn { width: 32px; height: 32px; background-position: -2px -4682px; }
.flag-icon-32.mo { width: 32px; height: 32px; background-position: -2px -4718px; }
.flag-icon-32.mp { width: 32px; height: 32px; background-position: -2px -4754px; }
.flag-icon-32.mq { width: 32px; height: 32px; background-position: -2px -4790px; }
.flag-icon-32.mr { width: 32px; height: 32px; background-position: -2px -4826px; }
.flag-icon-32.mt { width: 32px; height: 32px; background-position: -2px -4862px; }
.flag-icon-32.mu { width: 32px; height: 32px; background-position: -2px -4898px; }
.flag-icon-32.mv { width: 32px; height: 32px; background-position: -2px -4934px; }
.flag-icon-32.mw { width: 32px; height: 32px; background-position: -2px -4970px; }
.flag-icon-32.mx { width: 32px; height: 32px; background-position: -2px -5006px; }
.flag-icon-32.my { width: 32px; height: 32px; background-position: -2px -5042px; }
.flag-icon-32.na { width: 32px; height: 32px; background-position: -2px -5078px; }
.flag-icon-32.mz { width: 32px; height: 32px; background-position: -2px -5114px; }
.flag-icon-32.nc { width: 32px; height: 32px; background-position: -2px -5150px; }
.flag-icon-32.ne { width: 32px; height: 32px; background-position: -2px -5186px; }
.flag-icon-32.ng { width: 32px; height: 32px; background-position: -2px -5222px; }
.flag-icon-32.ni { width: 32px; height: 32px; background-position: -2px -5258px; }
.flag-icon-32.nl { width: 32px; height: 32px; background-position: -2px -5294px; }
.flag-icon-32.no { width: 32px; height: 32px; background-position: -2px -5330px; }
.flag-icon-32.np { width: 32px; height: 32px; background-position: -2px -5366px; }
.flag-icon-32.nr { width: 32px; height: 32px; background-position: -2px -5402px; }
.flag-icon-32.nu { width: 32px; height: 32px; background-position: -2px -5438px; }
.flag-icon-32.nz { width: 32px; height: 32px; background-position: -2px -5474px; }
.flag-icon-32.om { width: 32px; height: 32px; background-position: -2px -5510px; }
.flag-icon-32.pa { width: 32px; height: 32px; background-position: -2px -5546px; }
.flag-icon-32.pe { width: 32px; height: 32px; background-position: -2px -5582px; }
.flag-icon-32.pf { width: 32px; height: 32px; background-position: -2px -5618px; }
.flag-icon-32.pg { width: 32px; height: 32px; background-position: -2px -5654px; }
.flag-icon-32.ph { width: 32px; height: 32px; background-position: -2px -5690px; }
.flag-icon-32.pk { width: 32px; height: 32px; background-position: -2px -5726px; }
.flag-icon-32.pl { width: 32px; height: 32px; background-position: -2px -5762px; }
.flag-icon-32.pn { width: 32px; height: 32px; background-position: -2px -5798px; }
.flag-icon-32.pr { width: 32px; height: 32px; background-position: -2px -5834px; }
.flag-icon-32.ps { width: 32px; height: 32px; background-position: -2px -5870px; }
.flag-icon-32.pt { width: 32px; height: 32px; background-position: -2px -5906px; }
.flag-icon-32.pw { width: 32px; height: 32px; background-position: -2px -5942px; }
.flag-icon-32.py { width: 32px; height: 32px; background-position: -2px -5978px; }
.flag-icon-32.qa { width: 32px; height: 32px; background-position: -2px -6014px; }
.flag-icon-32.re { width: 32px; height: 32px; background-position: -2px -6050px; }
.flag-icon-32.ro { width: 32px; height: 32px; background-position: -2px -6086px; }
.flag-icon-32.rs { width: 32px; height: 32px; background-position: -2px -6122px; }
.flag-icon-32.ru { width: 32px; height: 32px; background-position: -2px -6158px; }
.flag-icon-32.rw { width: 32px; height: 32px; background-position: -2px -6194px; }
.flag-icon-32.sa { width: 32px; height: 32px; background-position: -2px -6230px; }
.flag-icon-32.sb { width: 32px; height: 32px; background-position: -2px -6266px; }
.flag-icon-32.sc { width: 32px; height: 32px; background-position: -2px -6302px; }
.flag-icon-32.sd { width: 32px; height: 32px; background-position: -2px -6338px; }
.flag-icon-32.se { width: 32px; height: 32px; background-position: -2px -6374px; }
.flag-icon-32.sg { width: 32px; height: 32px; background-position: -2px -6410px; }
.flag-icon-32.si { width: 32px; height: 32px; background-position: -2px -6446px; }
.flag-icon-32.sk { width: 32px; height: 32px; background-position: -2px -6482px; }
.flag-icon-32.sl { width: 32px; height: 32px; background-position: -2px -6518px; }
.flag-icon-32.sm { width: 32px; height: 32px; background-position: -2px -6554px; }
.flag-icon-32.sn { width: 32px; height: 32px; background-position: -2px -6590px; }
.flag-icon-32.so { width: 32px; height: 32px; background-position: -2px -6626px; }
.flag-icon-32.sr { width: 32px; height: 32px; background-position: -2px -6662px; }
.flag-icon-32.ss { width: 32px; height: 32px; background-position: -2px -6698px; }
.flag-icon-32.st { width: 32px; height: 32px; background-position: -2px -6734px; }
.flag-icon-32.sv { width: 32px; height: 32px; background-position: -2px -6770px; }
.flag-icon-32.sy { width: 32px; height: 32px; background-position: -2px -6806px; }
.flag-icon-32.sz { width: 32px; height: 32px; background-position: -2px -6842px; }
.flag-icon-32.td { width: 32px; height: 32px; background-position: -2px -6878px; }
.flag-icon-32.tg { width: 32px; height: 32px; background-position: -2px -6914px; }
.flag-icon-32.th { width: 32px; height: 32px; background-position: -2px -6950px; }
.flag-icon-32.tj { width: 32px; height: 32px; background-position: -2px -6986px; }
.flag-icon-32.tl { width: 32px; height: 32px; background-position: -2px -7022px; }
.flag-icon-32.tm { width: 32px; height: 32px; background-position: -2px -7058px; }
.flag-icon-32.tn { width: 32px; height: 32px; background-position: -2px -7094px; }
.flag-icon-32.to { width: 32px; height: 32px; background-position: -2px -7130px; }
.flag-icon-32.tr { width: 32px; height: 32px; background-position: -2px -7166px; }
.flag-icon-32.tt { width: 32px; height: 32px; background-position: -2px -7202px; }
.flag-icon-32.tv { width: 32px; height: 32px; background-position: -2px -7238px; }
.flag-icon-32.tw { width: 32px; height: 32px; background-position: -2px -7274px; }
.flag-icon-32.tz { width: 32px; height: 32px; background-position: -2px -7310px; }
.flag-icon-32.ua { width: 32px; height: 32px; background-position: -2px -7346px; }
.flag-icon-32.ug { width: 32px; height: 32px; background-position: -2px -7382px; }
.flag-icon-32.us { width: 32px; height: 32px; background-position: -2px -7418px; }
.flag-icon-32.uy { width: 32px; height: 32px; background-position: -2px -7454px; }
.flag-icon-32.uz { width: 32px; height: 32px; background-position: -2px -7490px; }
.flag-icon-32.va { width: 32px; height: 32px; background-position: -2px -7526px; }
.flag-icon-32.vc { width: 32px; height: 32px; background-position: -2px -7562px; }
.flag-icon-32.ve { width: 32px; height: 32px; background-position: -2px -7598px; }
.flag-icon-32.vg { width: 32px; height: 32px; background-position: -2px -7634px; }
.flag-icon-32.vi { width: 32px; height: 32px; background-position: -2px -7670px; }
.flag-icon-32.vn { width: 32px; height: 32px; background-position: -2px -7706px; }
.flag-icon-32.vu { width: 32px; height: 32px; background-position: -2px -7742px; }
.flag-icon-32.ws { width: 32px; height: 32px; background-position: -2px -7778px; }
.flag-icon-32.ye { width: 32px; height: 32px; background-position: -2px -7814px; }
.flag-icon-32.za { width: 32px; height: 32px; background-position: -2px -7850px; }
.flag-icon-32.zm { width: 32px; height: 32px; background-position: -2px -7886px; }
.flag-icon-32.zw { width: 32px; height: 32px; background-position: -2px -7922px; }
.flag-icon-32.tc { width: 32px; height: 32px; background-position: -2px -7958px; }
.flag-icon-32.cw { width: 32px; height: 32px; background-position: -2px -7994px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {.flag-icon-32 { background-image: url(/sprites/img/flag-icon-32_sprites@2x.png); background-size: 36px 8028px;  } }
.sector-icon { display:block; background-image: url(/sprites/img/sector-icon_sprites.png); text-align:center; width: 40px; height: 40px; background-position: -2px -2px;}
.sector-icon.arts { width: 40px; height: 40px; background-position: -2px -2px; }
.sector-icon.food-and-beverage-studies { width: 40px; height: 40px; background-position: -2px -46px; }
.sector-icon.foundation-studies { width: 40px; height: 40px; background-position: -2px -90px; }
.sector-icon.fashion { width: 40px; height: 40px; background-position: -2px -134px; }
.sector-icon.master-of-fine-arts { width: 40px; height: 40px; background-position: -2px -178px; }
.sector-icon.environment { width: 40px; height: 40px; background-position: -2px -222px; }
.sector-icon.engineering--technology { width: 40px; height: 40px; background-position: -2px -266px; }
.sector-icon.engineering-and-technology { width: 40px; height: 40px; background-position: -2px -266px; }
.sector-icon.energy { width: 40px; height: 40px; background-position: -2px -310px; }
.sector-icon.dba { width: 40px; height: 40px; background-position: -2px -354px; }
.sector-icon.llb { width: 40px; height: 40px; background-position: -2px -354px; }
.sector-icon.llm { width: 40px; height: 40px; background-position: -2px -354px; }
.sector-icon.phd { width: 40px; height: 40px; background-position: -2px -354px; }
.sector-icon.cosmetology { width: 40px; height: 40px; background-position: -2px -398px; }
.sector-icon.biological--life-sciences { width: 40px; height: 40px; background-position: -2px -442px; }
.sector-icon.medicine { width: 40px; height: 40px; background-position: -2px -442px; }
.sector-icon.biological-and-life-sciences { width: 40px; height: 40px; background-position: -2px -442px; }
.sector-icon.aviation { width: 40px; height: 40px; background-position: -2px -486px; }
.sector-icon.admissions-tests-and-preparation { width: 40px; height: 40px; background-position: -2px -530px; }
.sector-icon.natural-sciences { width: 40px; height: 40px; background-position: -2px -574px; }
.sector-icon.preparatory-studies { width: 40px; height: 40px; background-position: -2px -618px; }
.sector-icon.professional-studies { width: 40px; height: 40px; background-position: -2px -662px; }
.sector-icon.sports { width: 40px; height: 40px; background-position: -2px -706px; }
.sector-icon.sport { width: 40px; height: 40px; background-position: -2px -706px; }
.sector-icon.tourism-and-hospitality- { width: 40px; height: 40px; background-position: -2px -750px; }
.sector-icon.mba-international { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-dual-degrees { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.-year-mba { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-finance { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-marketing { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-management { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-global { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.mba-international-business { width: 40px; height: 40px; background-position: -2px -794px; }
.sector-icon.llb-and-llm { width: 40px; height: 40px; background-position: -2px -838px; }
.sector-icon.humanities-and-social-sciences { width: 40px; height: 40px; background-position: -2px -882px; }
.sector-icon.health-studies { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.medical-social-work { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.health-sciences { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.dentistry { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.age-care { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.ems-and-paramedics { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.alternative-medicine { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.biomedical-science { width: 40px; height: 40px; background-position: -2px -926px; }
.sector-icon.jd { width: 40px; height: 40px; background-position: -2px -970px; }
.sector-icon.interdisciplinary-studies { width: 40px; height: 40px; background-position: -2px -1014px; }
.sector-icon.language { width: 40px; height: 40px; background-position: -2px -1058px; }
.sector-icon.law-and-regulations { width: 40px; height: 40px; background-position: -2px -1102px; }
.sector-icon.medicine { width: 40px; height: 40px; background-position: -2px -1146px; }
.sector-icon.dentistry { width: 40px; height: 40px; background-position: -2px -1190px; }
.sector-icon.pharmacy { width: 40px; height: 40px; background-position: -2px -1234px; }
.sector-icon.nursing { width: 40px; height: 40px; background-position: -2px -1278px; }
.sector-icon.education { width: 40.5px; height: 40px; background-position: -2px -1322px; }
.sector-icon.design { width: 40.5px; height: 40px; background-position: -2px -1366px; }
.sector-icon.performing-arts { width: 40.5px; height: 40px; background-position: -2px -1410px; }
.sector-icon.technology-studies { width: 40.5px; height: 40px; background-position: -2px -1454px; }
.sector-icon.marketing-studies { width: 40.5px; height: 40px; background-position: -2px -1498px; }
.sector-icon.management-studies { width: 40.5px; height: 40px; background-position: -2px -1542px; }
.sector-icon.administration-studies { width: 40.5px; height: 40px; background-position: -2px -1586px; }
.sector-icon.architecture-studies { width: 40.5px; height: 40px; background-position: -2px -1630px; }
.sector-icon.design-studies { width: 40.5px; height: 40px; background-position: -2px -1674px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {.sector-icon { background-image: url(/sprites/img/sector-icon_sprites@2x.png); background-size: 44.5px 1716px;  } }
